@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Selection color */
::selection {
    background-color: #FF79C6;
    color: white;
}

/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    background-color: #FF79C6;
    color: white;
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease-in-out;
}

#back-to-top.show {
    opacity: 1;
    transform: translateY(0);
}

/* Cursor */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background-color: #FF79C6;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
}
